*{
	background:  #fff;

}
.reg_div{
	width: 500px;
	height: 250px;
	margin: 0px auto;
	border: 1px solid #000;
	/*background-color: gray;*/
	/*background: url("../images/注册.png") ;*/
		background: url("../images/watercolor-backgrounds-02.jpg");

}
.reg_title{
	text-align: center;
	/*background:  url("../images/注册.png")*/
		background: url("../images/watercolor-backgrounds-02.jpg");
}
.input_div{
	text-align: center;
	/*background: url("../images/注册.png");*/
		background: url("../images/watercolor-backgrounds-02.jpg");
}
.reg_form{
	/*background: url("../images/注册.png") ;*/
		background: url("../images/watercolor-backgrounds-02.jpg");
}
span{
	background-color: rgb(179,215,247);
	font-weight: bold;
	font-size: 14px;
}
#submit{
	background-color: rgb(179,215,247);
}
#go_login{
	/*background: url("../images/注册.png");*/
		background: url("../images/watercolor-backgrounds-02.jpg");
}
a{
	background-color: rgb(179,215,247);
}
#all{
	background: url("../images/watercolor-backgrounds-02.jpg");
	height: 1000px;
}